Transformar cadenas
ejercicio 1

In [17]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
partes_texto= text.split('. ')
partes_texto

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

palabras clave

In [5]:
palabras_clave= ["average", "temperature", "distance"]

ciclo para la cadena

In [18]:
for sentence in partes_texto:
    for palabra_clave in palabras_clave:
        if palabra_clave in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [21]:
for sentence in partes_texto:
    for palabra_clave in palabras_clave:
        if palabra_clave in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2
datos

In [22]:
planeta = "Moon"
gravedad = 0.00162 # in kms
nombre = "Earth"

In [26]:
titulo = "La gravedad en la Tierra y la Luna"
f'{titulo.title()}'

'La Gravedad En La Tierra Y La Luna'

In [28]:
datos = f"""{'-'*80}
nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000} m/s2
"""

In [29]:
union = f"""{titulo.title()}
{datos}
"""
print(datos)

--------------------------------------------------------------------------------
nombre del planeta: Moon
Gravedad en Earth: 1.6199999999999999 m/s2

In [30]:
planeta = 'Marte'
gravedad = 0.00143
nombre = 'Ganímedes'

In [31]:
print(datos)

--------------------------------------------------------------------------------
nombre del planeta: Moon
Gravedad en Earth: 1.6199999999999999 m/s2

In [32]:
nuevos_datos = """
Datos de Gravedad sobre: {nombre}
nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(nuevos_datos.format(nombre=nombre, planeta= planeta, gravedad= gravedad*1000))

Datos de Gravedad sobre: Ganímedes
nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2